%h2
  #{@league.name}
- @sorted_people.each_with_index do |person, index|
  %table
    %tr
      %td{class: 'ordinal'}= index
      %td{class: "text-left"}=link_to(person.name, person_path(person.id))
      %td=person.up_by(@event) ? "#{person.up_by(@event)} lbs" : nil
      %td=person.up_by_percentage(@event) ? "#{person.up_by_percentage(@event).round(2)} %" : nil
  %br
%br
%br
%h3
  %a= link_to('< View Event', event_path(@event.id))
%br
%br
%br
%h3
  %a= link_to('< Back', leagues_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
