%h2
  #{@event.name}
- @sorted_people.each_with_index do |person, index|
  %table
    %tr
      %td{class: 'ordinal'}= index
      %td{class: "text-left"}=link_to(person.name, person_path(person.id))
      %td
        -@sorted_people_leauges[person.id].each do |league|
          %a= link_to(league.name, league_path(league.id))
      %td=person.up_by(@event) ? "#{person.up_by(@event)} lbs" : nil
      %td=person.up_by_percentage(@event) ? "#{person.up_by_percentage(@event).round(2)} %" : nil
  %br
%br
%br
%h3
  Leagues
- @leagues.each_with_index do |league, index|
  %table
    %tr
      %td{class: 'ordinal'}= index
      %td{class: "text-left"}=link_to(league.name, league_path(league.id))
  %br
%br
%br
%br
%br
%h3
  %a= link_to('< Back', people_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
